body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.ui.grid {
  height: 100%;
  padding-top: 3%;
}

.column {
  max-width: 450px;
}

.ui.icon.button {
  background: transparent;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-left-color: transparent;
}
